<!DOCTYPE>
<html ng-app="w-Now">

  <head>
    <title>W-Now</title>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Angualar -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>

    <!-- CSS -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-68839194-1', 'auto');
      ga('send', 'pageview');

    </script>

  </head>

  <body ng-controller="w-NowController as now">
    <div class="main-container">

      <div class="svg-container">

        <h1 id="error-msg">Whoops, sorry something went wrong!</h1>

        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="800px"
        	 height="500px" viewBox="0 0 800 500" style="enable-background:new 0 0 800 500;" xml:space="preserve">

        <!-- FEW CLOUDS 801 - DAY SVG -->
        <g id="few-clouds-day">
          <path class="st4" d="M568.7,166.7c0-49.8-40.4-90.2-90.2-90.2c-49.8,0-90.2,40.4-90.2,90.2c0,49.8,40.4,90.2,90.2,90.2
      			C528.3,256.9,568.7,216.5,568.7,166.7z"/>
      		<g class="rays">
            <line class="st1" x1="478.5" y1="49" x2="478.5" y2="19"/>
      			<line class="st1" x1="478.5" y1="283" x2="478.5" y2="312"/>
      			<line class="st1" x1="596" y1="167.5" x2="626" y2="167.5"/>
      			<line class="st1" x1="331" y1="167.5" x2="361" y2="167.5"/>
      			<line class="st5" x1="578.3" y1="110.8" x2="604.2" y2="95.8"/>
      			<line class="st5" x1="536.5" y1="68.9" x2="551.6" y2="42.9"/>
      			<line class="st5" x1="377.4" y1="111.4" x2="351.3" y2="96.4"/>
      			<line class="st5" x1="418.9" y1="68.9" x2="403.8" y2="42.9"/>
      			<line class="st5" x1="376.8" y1="225.4" x2="350.7" y2="240.4"/>
      			<line class="st5" x1="416.4" y1="262.9" x2="401.4" y2="289"/>
      			<line class="st5" x1="577.5" y1="221.4" x2="603.6" y2="236.4"/>
      			<line class="st5" x1="537.9" y1="262.9" x2="552.9" y2="289"/>
      		</g>
      		<path class="st8 clouds" d="M420.7,187.2c0-60.2-48.7-108.9-108.8-108.9S203,127.1,203,187.3c0,0-91.7-6.5-91.7,90.9
      			c0,89.6,96.9,85.8,96.9,85.8h321.3c0,0,73.6,1.9,73.6-57.3c0-61.7-69.1-59.1-69.1-59.1S538,209,499.1,186
      			C455.6,160.2,420.7,187.2,420.7,187.2z"/>
      	</g>

        <!-- VIOLENT STORM 900-902, 962 - SVG -->
        <g id="extreme-storm">
          <path class="st3 clouds2" d="M460.8,138.9C460.8,78.7,412.1,30,352,30S243.1,78.8,243.1,139c0,0-91.8-1.3-91.8,96.1
      			c0,89.6,96.9,91,96.9,91h321.3c0,0,73.6-3.3,73.6-62.5c0-61.8-69.1-61.7-69.1-61.7s4.2-39.8-34.7-62.8
      			C495.7,113.2,460.8,138.9,460.8,138.9z"/>
      		<path class="st8" d="M637.3,244c-42.6,13-79.7,50.8-108.9,82.6c-25.8,28.2-55.9,65.5-57.9,105.6c-17.4,7.8-35.5,13-53.5,13.7
      			c-25.4,1-38.6-17.2-42.4-40.4c-2.8-17.2-0.3-32.7,5.4-47.3c44.9-22,88-51.6,127.1-81.8c30.7-23.7,58.5-51.1,82.4-81.7
      			c12.4-15.9,23.2-32.9,33.1-50.5c8.6-15.3,19.6-32.9,20.9-50.9c3.5-49-85.1-7.1-99.7,8.9c-4.2,4.6,3.5,10.4,7.6,5.9
      			c15.4-16.8,45.6-28.6,68.2-27.9c38.5,1.2-17.3,79.9-25.3,91.7c-7.1,10.4-14.7,20.3-22.7,29.8c-0.1,0-0.2,0-0.3,0
      			c-68.5,5.8-132.5,57.9-173.9,109.5c-9.7,12-19,25.5-25.3,40.1c-3.9,1.9-7.8,3.8-11.7,5.6c-22.3,10.1-48,21.1-73,20.9
      			c-32.5-0.3-14.2-37.4-5.4-53.7c19.1-35.3,47.4-69.1,77.4-95.7c2.8-2.5,5.8-4.8,8.7-7.1c4.9-3.8-0.9-11.4-5.9-7.6
      			c-29.7,22.7-54,53.7-75.1,84.2c-13.1,19-32.5,46.7-27.7,71.2c8,40.7,85.3,5.2,104.7-3.4c1.1-0.5,2.2-1,3.3-1.5
      			c-2,6.9-3.2,14-3.4,21.2c-0.5,22.5,3.5,48.6,23.3,62.3c23.3,16.2,55.1,7.9,83.4-5.5c0.2,2.7,0.5,5.3,0.9,8
      			c8.5,50,76.9,25.9,107.4,17.2c5.9-1.7,2.2-10.5-3.7-8.8c-23.3,6.6-69.4,25.6-88.9,2.5c-5.5-6.5-7.8-14.3-7.9-22.7
      			c13.8-7.1,26.3-14.9,36.1-21.2c50.7-32.3,96.8-77.9,132.6-125.9c7.2-9.7,21.2-26.9,17.3-40.3C661,239.8,646.1,241.3,637.3,244z"/>
      	</g>

        <!-- CLOUDY 803 & 804 - SVG -->
        <g id="cloudy">
          <path class="st6 clouds" d="M585.3,122.3c0-39.2-31.7-70.9-70.9-70.9c-39.2,0-70.9,31.8-70.9,71c0,0-59.8-5.4-59.8,58
      			c0,58.3,63.1,54.7,63.1,54.7h209.2c0,0,47.9,2.4,47.9-36.1c0-40.2-45-37.9-45-37.9s2.7-24.8-22.6-39.8
      			C608,104.4,585.3,122.3,585.3,122.3z"/>
      		<path class="st0 clouds2" d="M422.6,186.1c0-60.2-48.7-108.9-108.8-108.9s-108.9,48.8-108.9,109c0,0-91.7-3-91.7,94.4
      			c0,89.6,96.9,89.3,96.9,89.3h321.3c0,0,73.6-1.6,73.6-60.8c0-61.8-69.1-60.9-69.1-60.9s4.2-39.4-34.7-62.4
      			C457.5,160,422.6,186.1,422.6,186.1z"/>
      	</g>

        <!-- SCATTERED CLOUDS 802 - SVG -->
        <path id="scattered-clouds" class="st0 clouds2" d="M422.6,184.8c0-60.1-48.7-108.9-108.8-108.9s-108.9,48.8-108.9,109c0,0-91.7-4.3-91.7,93.1
      		c0,89.6,96.9,88,96.9,88h321.3c0,0,73.6-0.3,73.6-59.5c0-61.8-69.1-60.2-69.1-60.2s4.2-39.1-34.7-62.1
      		C457.5,158.3,422.6,184.8,422.6,184.8z"/>

        <!-- RAIN 500 - SVG -->
        <g id="dark-clouds">
          <path class="st6 clouds" d="M585.3,118c0-39.2-31.7-70.9-70.9-70.9c-39.2,0-70.9,31.8-70.9,71c0,0-59.8-3.3-59.8,60.2
      			c0,58.3,63.1,56.8,63.1,56.8h209.2c0,0,47.9,0.3,47.9-38.3c0-40.2-45-39-45-39s2.7-25.3-22.6-40.3C608,100.6,585.3,118,585.3,118z
      			"/>
      		<path class="st3 clouds2" d="M422.6,181.8c0-60.2-48.7-108.9-108.8-108.9s-108.9,48.8-108.9,109c0,0-91.7-0.8-91.7,96.6
      			c0,89.6,96.9,91.5,96.9,91.5h321.3c0,0,73.6-3.8,73.6-63c0-61.8-69.1-62-69.1-62s4.2-39.9-34.7-63
      			C457.5,156.3,422.6,181.8,422.6,181.8z"/>
      	</g>

        <!-- THUNDERSTORM 200 - DAY SVG -->
        <g id="lightning">
          <polygon class="st8 bolts" points="589.9,205.1 667.6,205.1 585.1,301.6 661.9,302.5 541.9,418.7 589.9,318.4 517.9,317.4 		"/>
      		<polygon class="st8 bolts" points="440.2,288.6 517.9,288.6 435.4,385.1 512.2,386 392.2,502.2 440.2,401.9 368.2,400.9 		"/>
      	</g>

        <!-- ATMOSPHERE / MIST 700 - DAY SVG -->
        <g id="atmosphere">
          <path class="st0 clouds2" d="M453.3,159.5c0-60.2-48.6-108.9-108.8-108.9c-60.2,0-108.9,48.8-108.9,109c0,0-91.8-4.1-91.8,93.3
      			c0,89.6,96.8,88.2,96.8,88.2H562c0,0,73.6-0.5,73.6-59.7c0-61.8-69.1-60.3-69.1-60.3s4.2-39.1-34.7-62.2
      			C488.2,133,453.3,159.5,453.3,159.5z"/>
          <line class="st9 dash-lines" x1="175" y1="365" x2="600" y2="365"/>
          <line class="st9 dash-lines" x1="363" y1="325" x2="738" y2="325"/>
          <line class="st9 dash-lines" x1="300" y1="275" x2="673" y2="275"/>
      		<line class="st9 dash-lines" x1="363" y1="219.5" x2="738" y2="219.5"/>
      	</g>

        <!-- CLEAR 800 - DAY SVG -->
        <g id="clear-day">
          <path class="st4" d="M503.7,256.7c0-49.8-40.4-90.2-90.2-90.2c-49.8,0-90.2,40.4-90.2,90.2c0,49.8,40.4,90.2,90.2,90.2
        		C463.3,346.9,503.7,306.5,503.7,256.7z"/>
        	<g class="rays">
        		<line class="st1" x1="413.5" y1="139" x2="413.5" y2="109"/>
        		<line class="st1" x1="413.5" y1="373" x2="413.5" y2="402"/>
        		<line class="st1" x1="531" y1="257.5" x2="561" y2="257.5"/>
        		<line class="st1" x1="266" y1="257.5" x2="296" y2="257.5"/>
        		<line class="st5" x1="513.3" y1="200.8" x2="539.2" y2="185.8"/>
        		<line class="st5" x1="471.5" y1="158.9" x2="486.6" y2="132.9"/>
        		<line class="st5" x1="312.4" y1="201.4" x2="286.3" y2="186.4"/>
        		<line class="st5" x1="353.9" y1="158.9" x2="338.8" y2="132.9"/>
        		<line class="st5" x1="311.8" y1="315.4" x2="285.7" y2="330.4"/>
        		<line class="st5" x1="351.4" y1="352.9" x2="336.4" y2="379"/>
        		<line class="st5" x1="512.5" y1="311.4" x2="538.6" y2="326.4"/>
        		<line class="st5" x1="472.9" y1="352.9" x2="487.9" y2="379"/>
        	</g>
      	</g>

        <!-- CLEAR 800 - NIGHT SVG -->
        <g id="clear-night">
          <path class="st7" d="M450.1,389.9c-4.1,0.4-8.3,0.5-12.5,0.5c-77.8,0-140.8-63-140.8-140.8c0-77.8,63-140.8,140.8-140.8
        		c77.8,0,140.8,63.1,140.8,140.8C578.4,323.2,522,383.6,450.1,389.9"/>
        	<path class="st12" d="M527.6,359.2c-6.7-3.2-20.2-10-20.4-12.8c-1.4-13.4-2.7-14.9-3.6-15.8c-0.1-0.1-0.1-0.3,0.1-0.5
        		c-6.3-9.7-16.4-17.1-29-21.2c-11.9-1.7-24.6-0.6-32.6,4.5c-8.6,5.4-28,18.3-33,51.2c-1.9,12.3,8.8,14.6,11.5,15.8
        		c6.6,2.9,20.6,6,31,4.5c1.5-0.2-1.1,2.5-2.1,6.3l0,0.1l0.6-0.1C479.4,388.7,506.2,377,527.6,359.2L527.6,359.2z M448.1,356.8
        		c-5.8,0-10.4-4.7-10.4-10.4c0-5.8,4.7-10.4,10.4-10.4c5.8,0,10.4,4.7,10.4,10.4C458.5,352.1,453.9,356.8,448.1,356.8z"/>
        	<path class="st12 ears" d="M566.6,290.3c-3.6-1.5-10.5-4.2-19.4-2.2c-7.3,1.6-11.9,2.5-25.4,9.9s-25.3,18.9-29.7,25.4
        		c-0.4,0.6-3,0.6-3.1,1.2c-0.1,0-0.1,0-0.1,0c-1,4.8,6,9.2,13.9,11.7c-0.9-5.2,0.7-4.8,1.2-6.3c0.7-2.1,26.9-15.3,33.9-17.9
        		c16.1-5.9,23.1-6.6,30.5-8.7c3.6-1.1,5.2-1.6,7.1-2.9c2.8-1.9,1.3-5.2-3.5-7.7C570.1,291.8,569.7,291.7,566.6,290.3z"/>
        	<path class="st12 ears" d="M489.8,323c3.5-7.1,5.7-14,18.2-23.1c13.3-9.7,29.5-18.1,32.8-19.1c1.1-0.6,2.1-1.1,3-1.4
        		c4.3-2.1,11.8-6.2,12.7-9.3c1.3-4.3,0.4-9.7-4.2-9.5c-10.2,0.4-30.3,5.5-49.5,19.4c-19.2,13.9-26.6,30.6-26.6,30.6
        		c-0.2,0-1.1,1.5-1.2,1.5c1.3,4.6,3.7,9.6,7.4,11.4c3.6,1.8,2.1,2.9,6.9,1.5C489.2,324.3,489.4,323.7,489.8,323z"/>
        </g>

        <!-- FEW CLOUDS 801 - NIGHT SVG -->
        <g id="few-clouds-night">
          <g>
        		<path class="st7" d="M594.1,442.9c-4.1,0.4-8.3,0.5-12.5,0.5c-77.8,0-140.8-63-140.8-140.8c0-77.8,63-140.8,140.8-140.8
        			c77.8,0,140.8,63.1,140.8,140.8C722.4,376.2,666,436.6,594.1,442.9"/>
        		<path class="st12" d="M671.6,412.2c-6.7-3.2-20.2-10-20.4-12.8c-1.4-13.4-2.7-14.9-3.6-15.8c-0.1-0.1-0.1-0.3,0.1-0.5
        			c-6.3-9.7-16.4-17.1-29-21.2c-11.9-1.7-24.6-0.6-32.6,4.5c-8.6,5.4-28,18.3-33,51.2c-1.9,12.3,8.8,14.6,11.5,15.8
        			c6.6,2.9,20.6,6,31,4.5c1.5-0.2-1.1,2.5-2.1,6.3l0,0.1l0.6-0.1C623.4,441.7,650.2,430,671.6,412.2L671.6,412.2z M592.1,409.8
        			c-5.8,0-10.4-4.7-10.4-10.4c0-5.8,4.7-10.4,10.4-10.4c5.8,0,10.4,4.7,10.4,10.4C602.5,405.1,597.9,409.8,592.1,409.8z"/>
        		<path class="st8 clouds" d="M419.2,186c0-60.2-48.6-108.9-108.8-108.9c-60.2,0-108.9,48.8-108.9,109c0,0-91.8-5.4-91.8,92
        			c0,89.6,96.9,86.9,96.9,86.9h321.3c0,0,73.6,0.8,73.6-58.4c0-61.8-69.1-59.7-69.1-59.7s4.1-38.8-34.7-61.8
        			C454.1,159.3,419.2,186,419.2,186z"/>
        	</g>
        	<path class="st12 ears" d="M710.6,343.3c-3.6-1.5-10.5-4.2-19.4-2.2c-7.3,1.6-11.9,2.5-25.4,9.9s-25.3,18.9-29.7,25.4
        		c-0.4,0.6-3,0.6-3.1,1.2c-0.1,0-0.1,0-0.1,0c-1,4.8,6,9.2,13.9,11.7c-0.9-5.2,0.7-4.8,1.2-6.3c0.7-2.1,26.9-15.3,33.9-17.9
        		c16.1-5.9,23.1-6.6,30.5-8.7c3.6-1.1,5.2-1.6,7.1-2.9c2.8-1.9,1.3-5.2-3.5-7.7C714.1,344.8,713.7,344.7,710.6,343.3z"/>
        	<path class="st12 ears" d="M633.8,376c3.5-7.1,5.7-14,18.2-23.1c13.3-9.7,29.5-18.1,32.8-19.1c1.1-0.6,2.1-1.1,3-1.4
        		c4.3-2.1,11.8-6.2,12.7-9.3c1.3-4.3,0.4-9.7-4.2-9.5c-10.2,0.4-30.3,5.5-49.5,19.4c-19.2,13.9-26.6,30.6-26.6,30.6
        		c-0.2,0-1.1,1.5-1.2,1.5c1.3,4.6,3.7,9.6,7.4,11.4c3.6,1.8,2.1,2.9,6.9,1.5C633.2,377.3,633.4,376.7,633.8,376z"/>
      	</g>

        <!-- WINDY 905, 956-959 - SVG -->
        <g id="windy">
          <path class="st0 clouds2" d="M333.4,165.1c0-60.1-48.7-108.9-108.8-108.9s-108.9,48.8-108.9,109c0,0-91.8-4.5-91.8,93
            c0,89.6,96.9,87.8,96.9,87.8H442c0,0,73.6-0.2,73.6-59.3c0-61.8-69.1-60.2-69.1-60.2s4.2-39-34.7-62.1
            C368.3,138.6,333.4,165.1,333.4,165.1z"/>
          <g>
            <g>
              <path class="st3 wind-lines" d="M273.4,269.6c41.2,0,82.3,0,123.5,0c56.1,0,112.1,0,168.2,0c4.5,0,9,0,13.5,0c3.9,0,8.2-1.6,12-2.3
                c3.4-0.7,6.7-0.6,10.2-1.1c5.6-0.8,10.9-2.4,16.1-4.7c20.4-9,30-30.8,26.6-52.2c-3.5-21.7-22.4-38.9-43.8-41.8
                c-19.2-2.5-37.4,5.8-48.9,21.1c-3.2,4.3,4,8.4,7.2,4.2c15.5-20.6,45.7-23.1,64.5-5.7c16.9,15.5,18.4,43.3,1.8,59.6
                c-8,7.8-19.2,11.4-30.1,11.8c-2.9,0.1-5.7,0.8-8.5,1.4c-1.8,0.4-3.6,0.7-5.4,1.1c-0.7,0.1-3.8,0.4-1.4,0.4c-3.6,0-7.2,0-10.9,0
                c-54.8,0-109.5,0-164.3,0c-43.4,0-86.8,0-130.1,0c-0.1,0-0.1,0-0.2,0C268.1,261.4,268.1,269.6,273.4,269.6L273.4,269.6z"/>
            </g>
          </g>
          <g>
            <g>
              <path class="st3 wind-lines" d="M174.5,310.6c31,0,62,0,93,0c63.5,0,127,0,190.5,0c51.8,0,103.6,0,155.4,0c8.1,0,16.4,0.5,24.5-0.1
                c13.7-0.9,27.5-1.4,41.2-2.6c21.6-1.9,42.6-10,59.7-23.4c35.4-27.8,49-74.9,35.9-117.7c-13.1-42.6-51.6-73.1-95.6-77.8
                c-39.5-4.3-78.3,14.2-101.7,45.8c-3.2,4.3,4,8.4,7.2,4.2c29.9-40.5,85.9-53.7,130.7-30.9c40.9,20.8,63.2,67.8,54.1,112.7
                c-9,44.5-48.6,75.7-93,79.1c-15.1,1.2-30.5,2.5-45.7,2.5c-42.4,0-84.8,0-127.2,0c-64.7,0-129.5,0-194.2,0
                c-42.8,0-85.7,0-128.5,0c-2.1,0-4.2,0-6.3,0C169.2,302.3,169.2,310.6,174.5,310.6L174.5,310.6z"/>
            </g>
          </g>
          <g>
            <g>
              <path class="st3 wind-lines" d="M207.5,335.6c41.2,0,82.3,0,123.5,0c56.1,0,112.1,0,168.2,0c4.5,0,9,0,13.5,0c1.1,0-1.8-0.4,0.5,0.1
                c3.6,0.8,7.2,1.5,10.9,2.3c3.8,0.8,7.6,0.6,11.4,1.2c5.7,0.9,11,2.9,16,5.8c20.6,11.9,23.7,38.9,11.3,57.8
                c-13.8,21-44,24.6-63.2,9.1c-2.7-2.2-5.2-4.9-7.3-7.7c-3.2-4.2-10.4-0.1-7.2,4.2c14.4,19.2,40.1,27.2,62.5,17.3
                c20.5-9,33-30.5,30.7-52.8c-2.2-21.8-19.6-37.8-40.6-41.7c-3.8-0.7-7.7-0.4-11.4-1.2c-3.6-0.8-7.2-1.5-10.9-2.3
                c-1.4-0.3-2.6-0.4-4-0.4c-47.2,0-94.4,0-141.6,0c-52,0-104,0-156,0c-2.1,0-4.2,0-6.2,0C202.1,327.3,202.1,335.6,207.5,335.6
                L207.5,335.6z"/>
            </g>
          </g>
        </g>
        </svg>

        <!-- LIGHT RAIN / DRIZZLE 300 - SVG -->
        <div id="drizzle-rain" class="rain">
          <div class="drops"></div>
          <div class="drops"></div>
          <div class="drops"></div>
          <div class="drops"></div>
          <div class="drops"></div>
        </div>

        <!-- SNOW 600 - DAY SVG -->
        <div id="snow">
          <div class="flake"></div>
          <div class="flake"></div>
          <div class="flake"></div>
          <div class="flake"></div>
          <div class="flake"></div>
          <div class="flake"></div>
          <div class="flake"></div>
          <div class="flake"></div>
        </div>

      </div>
      <div class="temp-display">
        <div><span ng-bind="now.currTemp"></span>&deg;</div>
      </div>
      <div class="temp-toggle">
        <div class="tempF" ng-click="now.toggleTemp('F')">F</div>
        <div class="tempC" ng-click="now.toggleTemp('C')">C</div>
      </div>

    </div>
  </body>

</html>
