<!DOCTYPE>
<html ng-app="w-Now">

  <head>
    <title>W-Now</title>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Angualar -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>

    <!-- CSS -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  </head>

  <body ng-controller="w-NowController as now">
    <div class="main-container">

      <div class="svg-container">


        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="800px"
        	 height="500px" viewBox="0 0 800 500" style="enable-background:new 0 0 800 500;" xml:space="preserve">

        <!-- FEW CLOUDS 801 - DAY SVG -->
        <g id="few-clouds-day">
          <path class="st4" d="M568.7,166.7c0-49.8-40.4-90.2-90.2-90.2c-49.8,0-90.2,40.4-90.2,90.2c0,49.8,40.4,90.2,90.2,90.2
      			C528.3,256.9,568.7,216.5,568.7,166.7z"/>
      		<g class="rays">
            <line class="st1" x1="478.5" y1="49" x2="478.5" y2="19"/>
      			<line class="st1" x1="478.5" y1="283" x2="478.5" y2="312"/>
      			<line class="st1" x1="596" y1="167.5" x2="626" y2="167.5"/>
      			<line class="st1" x1="331" y1="167.5" x2="361" y2="167.5"/>
      			<line class="st5" x1="578.3" y1="110.8" x2="604.2" y2="95.8"/>
      			<line class="st5" x1="536.5" y1="68.9" x2="551.6" y2="42.9"/>
      			<line class="st5" x1="377.4" y1="111.4" x2="351.3" y2="96.4"/>
      			<line class="st5" x1="418.9" y1="68.9" x2="403.8" y2="42.9"/>
      			<line class="st5" x1="376.8" y1="225.4" x2="350.7" y2="240.4"/>
      			<line class="st5" x1="416.4" y1="262.9" x2="401.4" y2="289"/>
      			<line class="st5" x1="577.5" y1="221.4" x2="603.6" y2="236.4"/>
      			<line class="st5" x1="537.9" y1="262.9" x2="552.9" y2="289"/>
      		</g>
      		<path class="st8 clouds" d="M420.7,187.2c0-60.2-48.7-108.9-108.8-108.9S203,127.1,203,187.3c0,0-91.7-6.5-91.7,90.9
      			c0,89.6,96.9,85.8,96.9,85.8h321.3c0,0,73.6,1.9,73.6-57.3c0-61.7-69.1-59.1-69.1-59.1S538,209,499.1,186
      			C455.6,160.2,420.7,187.2,420.7,187.2z"/>
      	</g>

        <!-- VIOLENT STORM 900-902, 962 - SVG -->
        <g id="extreme-storm">
          <path class="st3" d="M460.8,138.9C460.8,78.7,412.1,30,352,30S243.1,78.8,243.1,139c0,0-91.8-1.3-91.8,96.1
      			c0,89.6,96.9,91,96.9,91h321.3c0,0,73.6-3.3,73.6-62.5c0-61.8-69.1-61.7-69.1-61.7s4.2-39.8-34.7-62.8
      			C495.7,113.2,460.8,138.9,460.8,138.9z"/>
      		<path class="st8" d="M637.3,244c-42.6,13-79.7,50.8-108.9,82.6c-25.8,28.2-55.9,65.5-57.9,105.6c-17.4,7.8-35.5,13-53.5,13.7
      			c-25.4,1-38.6-17.2-42.4-40.4c-2.8-17.2-0.3-32.7,5.4-47.3c44.9-22,88-51.6,127.1-81.8c30.7-23.7,58.5-51.1,82.4-81.7
      			c12.4-15.9,23.2-32.9,33.1-50.5c8.6-15.3,19.6-32.9,20.9-50.9c3.5-49-85.1-7.1-99.7,8.9c-4.2,4.6,3.5,10.4,7.6,5.9
      			c15.4-16.8,45.6-28.6,68.2-27.9c38.5,1.2-17.3,79.9-25.3,91.7c-7.1,10.4-14.7,20.3-22.7,29.8c-0.1,0-0.2,0-0.3,0
      			c-68.5,5.8-132.5,57.9-173.9,109.5c-9.7,12-19,25.5-25.3,40.1c-3.9,1.9-7.8,3.8-11.7,5.6c-22.3,10.1-48,21.1-73,20.9
      			c-32.5-0.3-14.2-37.4-5.4-53.7c19.1-35.3,47.4-69.1,77.4-95.7c2.8-2.5,5.8-4.8,8.7-7.1c4.9-3.8-0.9-11.4-5.9-7.6
      			c-29.7,22.7-54,53.7-75.1,84.2c-13.1,19-32.5,46.7-27.7,71.2c8,40.7,85.3,5.2,104.7-3.4c1.1-0.5,2.2-1,3.3-1.5
      			c-2,6.9-3.2,14-3.4,21.2c-0.5,22.5,3.5,48.6,23.3,62.3c23.3,16.2,55.1,7.9,83.4-5.5c0.2,2.7,0.5,5.3,0.9,8
      			c8.5,50,76.9,25.9,107.4,17.2c5.9-1.7,2.2-10.5-3.7-8.8c-23.3,6.6-69.4,25.6-88.9,2.5c-5.5-6.5-7.8-14.3-7.9-22.7
      			c13.8-7.1,26.3-14.9,36.1-21.2c50.7-32.3,96.8-77.9,132.6-125.9c7.2-9.7,21.2-26.9,17.3-40.3C661,239.8,646.1,241.3,637.3,244z"/>
      	</g>

        <!-- CLOUDY 803 & 804 - SVG -->
        <g id="cloudy">
          <path class="st6 clouds" d="M585.3,122.3c0-39.2-31.7-70.9-70.9-70.9c-39.2,0-70.9,31.8-70.9,71c0,0-59.8-5.4-59.8,58
      			c0,58.3,63.1,54.7,63.1,54.7h209.2c0,0,47.9,2.4,47.9-36.1c0-40.2-45-37.9-45-37.9s2.7-24.8-22.6-39.8
      			C608,104.4,585.3,122.3,585.3,122.3z"/>
      		<path class="st0 clouds2" d="M422.6,186.1c0-60.2-48.7-108.9-108.8-108.9s-108.9,48.8-108.9,109c0,0-91.7-3-91.7,94.4
      			c0,89.6,96.9,89.3,96.9,89.3h321.3c0,0,73.6-1.6,73.6-60.8c0-61.8-69.1-60.9-69.1-60.9s4.2-39.4-34.7-62.4
      			C457.5,160,422.6,186.1,422.6,186.1z"/>
      	</g>

        <!-- SCATTERED CLOUDS 802 - SVG -->
        <path id="scattered-clouds" class="st0 clouds2" d="M422.6,184.8c0-60.1-48.7-108.9-108.8-108.9s-108.9,48.8-108.9,109c0,0-91.7-4.3-91.7,93.1
      		c0,89.6,96.9,88,96.9,88h321.3c0,0,73.6-0.3,73.6-59.5c0-61.8-69.1-60.2-69.1-60.2s4.2-39.1-34.7-62.1
      		C457.5,158.3,422.6,184.8,422.6,184.8z"/>

        <!-- LIGHT RAIN / DRIZZLE 300 - SVG -->
        <g id="drizzle-light-rain">
          <path class="st6 clouds" d="M585.3,117.6c0-39.2-31.7-70.9-70.9-70.9c-39.2,0-70.9,31.8-70.9,71c0,0-59.8,0.9-59.8,64.4
      			c0,58.3,63.1,61,63.1,61h209.2c0,0,47.9-3.9,47.9-42.5c0-40.2-45-41.1-45-41.1s2.7-26.4-22.6-41.4
      			C608,101.3,585.3,117.6,585.3,117.6z"/>
      		<path class="st0 clouds2" d="M422.6,181.4c0-60.2-48.7-108.9-108.8-108.9s-108.9,48.8-108.9,109c0,0-91.7-2.6-91.7,94.8
      			c0,89.6,96.9,89.7,96.9,89.7h321.3c0,0,73.6-2,73.6-61.2c0-61.8-69.1-61.1-69.1-61.1s4.2-39.5-34.7-62.5
      			C457.5,155.4,422.6,181.4,422.6,181.4z"/>
      		<!-- <g class="rain"> -->
          <g class="">
      			<g>
      				<g>
      					<path class="st10 drops" d="M227.2,317.4c0,43.8,0,87.7,0,131.5c0,5.3,8.3,5.3,8.3,0c0-43.8,0-87.7,0-131.5
      						C235.5,312,227.2,312,227.2,317.4L227.2,317.4z"/>
      				</g>
      			</g>
      			<line class="st2 drops" x1="307.5" y1="288" x2="307.5" y2="447"/>
      			<g>
      				<g>
      					<path class="st10 drops" d="M371.8,320.3c0,43.8,0,87.6,0,131.5c0,5.3,8.3,5.3,8.3,0c0-43.8,0-87.6,0-131.5
      						C380.1,314.9,371.8,314.9,371.8,320.3L371.8,320.3z"/>
      				</g>
      			</g>
      			<line class="st2" x1="451.5" y1="264" x2="451.5" y2="393"/>
          </g>
          <!-- <path class="drops"/> -->
          <!-- <path class="drops"/> -->
          <!-- <path class="drops"/> -->
          <!-- <path class="drops"/> -->
        <!-- </g> -->
      	</g>

        <!-- RAIN 500 - SVG -->
        <g id="rain">
          <path class="st6 clouds" d="M585.3,118c0-39.2-31.7-70.9-70.9-70.9c-39.2,0-70.9,31.8-70.9,71c0,0-59.8-3.3-59.8,60.2
      			c0,58.3,63.1,56.8,63.1,56.8h209.2c0,0,47.9,0.3,47.9-38.3c0-40.2-45-39-45-39s2.7-25.3-22.6-40.3C608,100.6,585.3,118,585.3,118z
      			"/>
      		<path class="st3" d="M422.6,181.8c0-60.2-48.7-108.9-108.8-108.9s-108.9,48.8-108.9,109c0,0-91.7-0.8-91.7,96.6
      			c0,89.6,96.9,91.5,96.9,91.5h321.3c0,0,73.6-3.8,73.6-63c0-61.8-69.1-62-69.1-62s4.2-39.9-34.7-63
      			C457.5,156.3,422.6,181.8,422.6,181.8z"/>
      		<g>
      			<g>
      				<g>
      					<path class="st10" d="M227.2,317.8c0,43.8,0,87.7,0,131.5c0,5.3,8.3,5.3,8.3,0c0-43.8,0-87.7,0-131.5
      						C235.5,312.4,227.2,312.4,227.2,317.8L227.2,317.8z"/>
      				</g>
      			</g>
      			<g>
      				<g>
      					<path class="st10" d="M299.5,283.2c0,49.4,0,98.9,0,148.3c0,4.8,0,9.6,0,14.5c0,5.3,8.3,5.3,8.3,0c0-49.4,0-98.9,0-148.3
      						c0-4.8,0-9.6,0-14.5C307.8,277.9,299.5,277.9,299.5,283.2L299.5,283.2z"/>
      				</g>
      			</g>
      			<g>
      				<g>
      					<path class="st10" d="M371.8,320.6c0,43.8,0,87.7,0,131.5c0,5.3,8.3,5.3,8.3,0c0-43.8,0-87.7,0-131.5
      						C380.1,315.3,371.8,315.3,371.8,320.6L371.8,320.6z"/>
      				</g>
      			</g>
      			<g>
      				<g>
      					<path class="st10" d="M444.1,265.9c0,43.8,0,87.7,0,131.5c0,5.3,8.3,5.3,8.3,0c0-43.8,0-87.7,0-131.5
      						C452.4,260.6,444.1,260.6,444.1,265.9L444.1,265.9z"/>
      				</g>
      			</g>
      		</g>
      	</g>

        <!-- THUNDERSTORM 200 - DAY SVG -->
        <g id="thunderstorm">
          <polygon class="st8" points="599.9,180.1 677.6,180.1 595.1,276.6 671.9,277.5 551.9,393.7 599.9,293.4 527.9,292.4 		"/>
      		<path class="st6 clouds" d="M596.8,91.2c0-39.2-31.7-70.9-70.9-70.9c-39.2,0-70.9,31.8-70.9,71c0,0-59.7-2.4-59.7,61.1
      			c0,58.3,63.1,57.7,63.1,57.7h209.2c0,0,47.9-0.6,47.9-39.2c0-40.2-45-39.4-45-39.4s2.7-25.6-22.6-40.5
      			C619.5,74.1,596.8,91.2,596.8,91.2z"/>
      		<polygon class="st8" points="450.2,263.6 527.9,263.6 445.4,360.1 522.2,361 402.2,477.2 450.2,376.9 378.2,375.9 		"/>
      		<path class="st3" d="M434.1,155c0-60.2-48.7-108.9-108.8-108.9c-60.2,0-108.9,48.8-108.9,109c0,0-91.8-4.4-91.8,93
      			c0,89.6,96.9,87.9,96.9,87.9h321.3c0,0,73.6-0.2,73.6-59.4c0-61.7-69.1-60.2-69.1-60.2s4.2-39-34.7-62.1
      			C469,128.6,434.1,155,434.1,155z"/>
      		<g>
      			<g>
      				<g>
      					<path class="st10" d="M201.3,291c0,43.8,0,87.7,0,131.5c0,5.3,8.3,5.3,8.3,0c0-43.8,0-87.7,0-131.5
      						C209.6,285.6,201.3,285.6,201.3,291L201.3,291z"/>
      				</g>
      			</g>
      			<g>
      				<g>
      					<path class="st10" d="M273.6,256.4c0,49.4,0,98.9,0,148.3c0,4.8,0,9.6,0,14.5c0,5.3,8.3,5.3,8.3,0c0-49.4,0-98.9,0-148.3
      						c0-4.8,0-9.6,0-14.5C281.9,251.1,273.6,251.1,273.6,256.4L273.6,256.4z"/>
      				</g>
      			</g>
      			<g>
      				<g>
      					<path class="st10" d="M345.9,293.8c0,43.8,0,87.7,0,131.5c0,5.3,8.3,5.3,8.3,0c0-43.8,0-87.7,0-131.5
      						C354.2,288.5,345.9,288.5,345.9,293.8L345.9,293.8z"/>
      				</g>
      			</g>
      		</g>
      	</g>

        <!-- SNOW 600 - DAY SVG -->
        <g id="snow">
          <path class="st8" d="M383.2,230.2L363,246.4l-9.2-36.3l25.7,3.2l22.8-30.1l-14.7-34.8l-37.5-4.7l-22.8,30.1l8.7,20.6l-32.3-9.1
      			l18-17.5l-9.3-36.6L276,121l-27,26.4l9.3,36.6l24.7,7l-23.9,23.3l-2.2-22.4l-34.4-15.6l-30.7,22l3.7,37.6l34.4,15.6l21.3-15.3
      			l9.3,36.6l-25.9-4.7l-24.4,28.9l12.8,35.5l37.2,6.7l24.4-28.9l-8.2-22.6l34.2,9.6l-18.7,18.3l9.3,36.6l36.4,10.2l27-26.4
      			l-9.3-36.6l-24.8-7l25.3-24.7l3.6,23.5l35.2,13.7l29.5-23.6l-5.7-37.3L383.2,230.2z M352.3,254l-33.6,32.8L273.5,274L262,228.5
      			l33.6-32.8l45.2,12.7L352.3,254z"/>
      		<path class="st8" d="M518,194.3l-12.8,2l5-18l10.3,7.8l17.4-7.4l2.3-18.7l-15.1-11.4l-17.4,7.4l-1.4,11.1l-11.7-12l12.1-3.1
      			l5.1-18.2l-13.2-13.5l-18.3,4.7l-5.1,18.2l9,9.2l-16.2,4.1l4.6-10.3l-11-15.3l-18.8,1.9l-7.8,17.2l11,15.3l13.1-1.3l-5.1,18.2
      			l-10.1-8.5l-17.8,6.4l-3.3,18.6l14.4,12.2l17.8-6.4l2.1-11.8l12.4,12.7l-12.7,3.2l-5.1,18.2l13.2,13.5l18.3-4.7l5.1-18.2l-9-9.2
      			l17.1-4.4l-4.3,11.1l11.8,14.7l18.7-2.9l6.8-17.6L518,194.3z M498.7,196.8l-22.7,5.8l-16.4-16.8l6.3-22.6l22.7-5.8l16.4,16.8
      			L498.7,196.8z"/>
      		<path class="st8" d="M587.7,338.2l-10.6,7.4l-3.4-18.4l12.7,2.4l12.4-14.3l-6.2-17.8L574,294l-12.3,14.3l3.7,10.5l-15.8-5.6
      			l9.5-8.2l-3.5-18.6l-17.8-6.3l-14.3,12.3l3.5,18.6l12.1,4.3l-12.7,10.9l-0.4-11.3l-16.7-8.9l-16,10l0.7,18.9l16.7,8.9l11.1-7
      			l3.5,18.6l-12.8-3.2l-13.1,13.6l5.2,18.1l18.3,4.5l13.1-13.6l-3.3-11.5l16.7,5.9l-9.9,8.5l3.5,18.6l17.8,6.3l14.3-12.3l-3.5-18.6
      			l-12.2-4.3l13.4-11.5l1,11.9l17.1,8l15.5-10.8l-1.6-18.8L587.7,338.2z M571.5,349.1l-17.8,15.3l-22.1-7.8l-4.3-23.1l17.8-15.3
      			l22.1,7.8L571.5,349.1z"/>
      	</g>

        <!-- ATMOSPHERE / MIST 700 - DAY SVG -->
        <g id="atmosphere">
          <path class="st0 clouds2" d="M453.3,159.5c0-60.2-48.6-108.9-108.8-108.9c-60.2,0-108.9,48.8-108.9,109c0,0-91.8-4.1-91.8,93.3
      			c0,89.6,96.8,88.2,96.8,88.2H562c0,0,73.6-0.5,73.6-59.7c0-61.8-69.1-60.3-69.1-60.3s4.2-39.1-34.7-62.2
      			C488.2,133,453.3,159.5,453.3,159.5z"/>
      		<g>
      			<g>
      				<path class="st11" d="M350.4,328.5c36,0,72,0,108,0c63.6,0,127.3,0,190.9,0c26.1,0,52.2,0,78.3,0c5.3,0,5.3-8.3,0-8.3
      					c-36,0-72,0-108,0c-63.6,0-127.3,0-190.9,0c-26.1,0-52.2,0-78.3,0C345.1,320.2,345.1,328.5,350.4,328.5L350.4,328.5z"/>
      			</g>
      		</g>
      		<g>
      			<g>
      				<path class="st11" d="M164.2,368.8c31.8,0,63.6,0,95.4,0c63.9,0,127.8,0,191.7,0c48.8,0,97.6,0,146.3,0c4.8,0,9.5,0,14.3,0
      					c5.3,0,5.3-8.3,0-8.3c-31.8,0-63.6,0-95.4,0c-63.9,0-127.8,0-191.7,0c-48.8,0-97.6,0-146.3,0c-4.8,0-9.5,0-14.3,0
      					C158.9,360.5,158.9,368.8,164.2,368.8L164.2,368.8z"/>
      			</g>
      		</g>
      		<g>
      			<g>
      				<path class="st11" d="M288,276c36,0,72,0,108,0c63.6,0,127.3,0,190.9,0c26.1,0,52.2,0,78.3,0c5.3,0,5.3-8.3,0-8.3
      					c-36,0-72,0-108,0c-63.6,0-127.3,0-190.9,0c-26.1,0-52.2,0-78.3,0C282.7,267.7,282.7,276,288,276L288,276z"/>
      			</g>
      		</g>
      		<line class="st9" x1="363" y1="219.5" x2="738" y2="219.5"/>
      	</g>

        <!-- CLEAR 800 - DAY SVG -->
        <g id="clear-day">
          <path class="st4" d="M503.7,256.7c0-49.8-40.4-90.2-90.2-90.2c-49.8,0-90.2,40.4-90.2,90.2c0,49.8,40.4,90.2,90.2,90.2
        		C463.3,346.9,503.7,306.5,503.7,256.7z"/>
        	<g class="rays">
        		<line class="st1" x1="413.5" y1="139" x2="413.5" y2="109"/>
        		<line class="st1" x1="413.5" y1="373" x2="413.5" y2="402"/>
        		<line class="st1" x1="531" y1="257.5" x2="561" y2="257.5"/>
        		<line class="st1" x1="266" y1="257.5" x2="296" y2="257.5"/>
        		<line class="st5" x1="513.3" y1="200.8" x2="539.2" y2="185.8"/>
        		<line class="st5" x1="471.5" y1="158.9" x2="486.6" y2="132.9"/>
        		<line class="st5" x1="312.4" y1="201.4" x2="286.3" y2="186.4"/>
        		<line class="st5" x1="353.9" y1="158.9" x2="338.8" y2="132.9"/>
        		<line class="st5" x1="311.8" y1="315.4" x2="285.7" y2="330.4"/>
        		<line class="st5" x1="351.4" y1="352.9" x2="336.4" y2="379"/>
        		<line class="st5" x1="512.5" y1="311.4" x2="538.6" y2="326.4"/>
        		<line class="st5" x1="472.9" y1="352.9" x2="487.9" y2="379"/>
        	</g>
      	</g>

        <!-- CLEAR 800 - NIGHT SVG -->
        <g id="clear-night">
          <path class="st7" d="M420.7,374.5c-10.3,1.5-24.2-1.6-30.7-4.5c-2.8-1.2-13.3-3.5-11.5-15.7c4.9-32.6,24.2-45.3,32.8-50.7
      			c8.5-5.4,22.5-6.3,35-4c0,0,9.4-15.5,30.1-26.7c20.6-11.2,41.1-13.7,51.2-12.8c4.6,0.4,4.7,5.8,2.9,9.9
      			c-1.8,4.1-16.8,8.5-16.8,8.5s13.7,0,20.9,3.2c2.4,1.1,4.2,2.2,5.3,3.3c4.5-13.6,6.9-28.2,6.9-43.3c0-77.1-62.5-139.7-139.7-139.7
      			c-77.1,0-139.6,62.5-139.6,139.7S329.9,381.2,407,381.2c3.9,0,7.8-0.2,11.6-0.5C419.6,377,422.2,374.3,420.7,374.5z"/>
      		<path class="st7" d="M417.4,326c-5.7,0-10.3,4.6-10.3,10.3c0,5.7,4.6,10.3,10.3,10.3c5.7,0,10.3-4.6,10.3-10.3
      			C427.7,330.6,423.1,326,417.4,326z"/>
      		<path class="st7" d="M506,302.9c-7.1,2.2-35.2,16.2-33.7,17.7c0.9,0.9,2.2,2.5,3.6,15.7c0.3,2.8,13.7,9.5,20.3,12.7
      			c17.5-14.6,31.4-33.4,40.2-54.8C529.6,297,515.6,299.9,506,302.9z"/>
      	</g>

        <!-- FEW CLOUDS 801 - NIGHT SVG -->
        <g id="few-clouds-night">
          <g>
      			<path class="st7" d="M595.6,436.9c-10.3,1.5-24.2-1.6-30.8-4.5c-2.8-1.2-13.3-3.5-11.4-15.7c4.9-32.5,24.2-45.3,32.8-50.7
      				c8.5-5.4,22.4-6.3,35-4.1c0,0,9.4-15.5,30.1-26.7c20.7-11.2,41.1-13.7,51.2-12.8c4.6,0.4,4.7,5.8,2.9,9.9
      				c-1.8,4-16.8,8.5-16.8,8.5s13.7,0,20.9,3.1c2.4,1.1,4.1,2.2,5.3,3.3c4.4-13.6,6.9-28.2,6.9-43.3c0-77.1-62.5-139.7-139.7-139.7
      				c-77.1,0-139.7,62.5-139.7,139.7c0,77.1,62.5,139.7,139.7,139.7c3.9,0,7.8-0.2,11.6-0.5C594.4,439.4,597.1,436.7,595.6,436.9z"/>
      			<path class="st7" d="M592.2,388.4c-5.7,0-10.3,4.6-10.3,10.3c0,5.7,4.6,10.3,10.3,10.3c5.7,0,10.3-4.6,10.3-10.3
      				C602.5,393,597.9,388.4,592.2,388.4z"/>
      			<path class="st7" d="M680.9,365.3c-7.1,2.2-35.2,16.2-33.7,17.7c0.9,1,2.2,2.5,3.6,15.7c0.3,2.8,13.7,9.5,20.3,12.7
      				c17.5-14.6,31.5-33.4,40.2-54.8C704.4,359.4,690.4,362.3,680.9,365.3z"/>
      		</g>
      		<path class="st8" d="M419.2,186c0-60.2-48.6-108.9-108.8-108.9c-60.2,0-108.9,48.8-108.9,109c0,0-91.8-5.4-91.8,92
      			c0,89.6,96.9,86.9,96.9,86.9h321.3c0,0,73.6,0.8,73.6-58.4c0-61.8-69.1-59.7-69.1-59.7s4.1-38.8-34.7-61.8
      			C454.1,159.3,419.2,186,419.2,186z"/>
      	</g>

        <!-- WINDY 905, 956-959 - SVG -->
        <g id="windy">
          <path class="st0 clouds2" d="M333.4,165.1c0-60.1-48.7-108.9-108.8-108.9s-108.9,48.8-108.9,109c0,0-91.8-4.5-91.8,93
            c0,89.6,96.9,87.8,96.9,87.8H442c0,0,73.6-0.2,73.6-59.3c0-61.8-69.1-60.2-69.1-60.2s4.2-39-34.7-62.1
            C368.3,138.6,333.4,165.1,333.4,165.1z"/>
          <g>
            <g>
              <path class="st3" d="M273.4,269.6c41.2,0,82.3,0,123.5,0c56.1,0,112.1,0,168.2,0c4.5,0,9,0,13.5,0c3.9,0,8.2-1.6,12-2.3
                c3.4-0.7,6.7-0.6,10.2-1.1c5.6-0.8,10.9-2.4,16.1-4.7c20.4-9,30-30.8,26.6-52.2c-3.5-21.7-22.4-38.9-43.8-41.8
                c-19.2-2.5-37.4,5.8-48.9,21.1c-3.2,4.3,4,8.4,7.2,4.2c15.5-20.6,45.7-23.1,64.5-5.7c16.9,15.5,18.4,43.3,1.8,59.6
                c-8,7.8-19.2,11.4-30.1,11.8c-2.9,0.1-5.7,0.8-8.5,1.4c-1.8,0.4-3.6,0.7-5.4,1.1c-0.7,0.1-3.8,0.4-1.4,0.4c-3.6,0-7.2,0-10.9,0
                c-54.8,0-109.5,0-164.3,0c-43.4,0-86.8,0-130.1,0c-0.1,0-0.1,0-0.2,0C268.1,261.4,268.1,269.6,273.4,269.6L273.4,269.6z"/>
            </g>
          </g>
          <g>
            <g>
              <path class="st3" d="M174.5,310.6c31,0,62,0,93,0c63.5,0,127,0,190.5,0c51.8,0,103.6,0,155.4,0c8.1,0,16.4,0.5,24.5-0.1
                c13.7-0.9,27.5-1.4,41.2-2.6c21.6-1.9,42.6-10,59.7-23.4c35.4-27.8,49-74.9,35.9-117.7c-13.1-42.6-51.6-73.1-95.6-77.8
                c-39.5-4.3-78.3,14.2-101.7,45.8c-3.2,4.3,4,8.4,7.2,4.2c29.9-40.5,85.9-53.7,130.7-30.9c40.9,20.8,63.2,67.8,54.1,112.7
                c-9,44.5-48.6,75.7-93,79.1c-15.1,1.2-30.5,2.5-45.7,2.5c-42.4,0-84.8,0-127.2,0c-64.7,0-129.5,0-194.2,0
                c-42.8,0-85.7,0-128.5,0c-2.1,0-4.2,0-6.3,0C169.2,302.3,169.2,310.6,174.5,310.6L174.5,310.6z"/>
            </g>
          </g>
          <g>
            <g>
              <path class="st3" d="M207.5,335.6c41.2,0,82.3,0,123.5,0c56.1,0,112.1,0,168.2,0c4.5,0,9,0,13.5,0c1.1,0-1.8-0.4,0.5,0.1
                c3.6,0.8,7.2,1.5,10.9,2.3c3.8,0.8,7.6,0.6,11.4,1.2c5.7,0.9,11,2.9,16,5.8c20.6,11.9,23.7,38.9,11.3,57.8
                c-13.8,21-44,24.6-63.2,9.1c-2.7-2.2-5.2-4.9-7.3-7.7c-3.2-4.2-10.4-0.1-7.2,4.2c14.4,19.2,40.1,27.2,62.5,17.3
                c20.5-9,33-30.5,30.7-52.8c-2.2-21.8-19.6-37.8-40.6-41.7c-3.8-0.7-7.7-0.4-11.4-1.2c-3.6-0.8-7.2-1.5-10.9-2.3
                c-1.4-0.3-2.6-0.4-4-0.4c-47.2,0-94.4,0-141.6,0c-52,0-104,0-156,0c-2.1,0-4.2,0-6.2,0C202.1,327.3,202.1,335.6,207.5,335.6
                L207.5,335.6z"/>
            </g>
          </g>
        </g>
        </svg>


      </div>
      <div class="temp-display">
        <div><span ng-bind="now.currTemp"></span>&deg;</div>
      </div>
      <div class="temp-toggle">
        <div class="tempF" ng-click="now.toggleTemp('F')">F</div>
        <div class="tempC" ng-click="now.toggleTemp('C')">C</div>
      </div>

    </div>
  </body>

</html>
