@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);

* {
  font: inherit;
  box-sizing: border-box;
  -oz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

div.temp-display {
  font-size: 3em;
}
