@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);

* {
  font: inherit;
  box-sizing: border-box;
  -oz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

div.main-container {
  padding: 50px;
}

div.temp-display {
  font-size: 3em;
  color: white;
}

div.temp-toggle div.tempF,
div.temp-toggle div.tempC {
  font-size: 1.5em;
  color: white;
  padding-right: 1em;
  display: inline-block;
  transition: .25s ease-in-out;
}

div.temp-toggle div.tempF:hover,
div.temp-toggle div.tempC:hover {
  cursor: pointer;
}

.selected {
  font-weight: 700;
}

/*span.degree-symbol {
  font-size: .75em;
  padding-bottom: .25em;
}*/

/**** SVG styles ****/
.st2 {
  fill: #F9EC91;
}
