@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);

* {
  font: inherit;
  box-sizing: border-box;
  -oz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

div.main-container {
  padding: 50px;
}

div.temp-display {
  font-size: 3em;
  color: white;
}

div.temp-toggle div.tempF,
div.temp-toggle div.tempC {
  font-size: 1.5em;
  color: white;
  padding-right: 1em;
  display: inline-block;
  transition: .25s ease-in-out;
}

div.temp-toggle div.tempF:hover,
div.temp-toggle div.tempC:hover {
  cursor: pointer;
}

.selected {
  font-weight: 700;
}

/*span.degree-symbol {
  font-size: .75em;
  padding-bottom: .25em;
}*/

/**** SVG styles ****/

#few-clouds-day,
#extreme-storm,
#cloudy,
#scattered-clouds,
#drizzle-rain,
#dark-clouds,
#lightning,
#snow,
#atmosphere,
#clear-day,
#clear-night,
#few-clouds-night,
#windy {
  display: none;
}

.rays {
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-animation: rotate-rays 10s linear infinite;
  -moz-animation: rotate-rays 10s linear infinite;
  -ms-animation: rotate-rays 10s linear infinite;

}

@-webkit-keyframes rotate-rays {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}

.clouds {
  -webkit-animation: float-cloud 2s ease-in-out infinite;
  -moz-animation: float-cloud 2s ease-in-out infinite;
  -ms-animation: float-cloud 2s ease-in-out infinite;
}

@-webkit-keyframes float-cloud {
  0% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
  }
}

.clouds2 {
  -webkit-animation: float-cloud-left 2s ease-in-out infinite;
  -moz-animation: float-cloud-left 2s ease-in-out infinite;
  -ms-animation: float-cloud-left 2s ease-in-out infinite;
}

@-webkit-keyframes float-cloud-left {
  0% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(-7px);
    -moz-transform: translateX(-7px);
    -ms-transform: translateX(-7px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
  }
}

.rain {
  position: relative;
  width: 400px;
  margin: 0 auto;
  bottom: 250px;
  z-index: -1;
}

.drops {
  width: 4px;
  height: 50px;
  border-radius: 50%;
  background-color: #E9FDFF;
  position: absolute;
  opacity: 0;
}

.rain .drops:first-child {
  -webkit-animation: rain 1s 300ms infinite normal both;
  -moz-animation: rain 1s 300ms infinite normal both;
  -ms-animation: rain 1s 300ms infinite normal both;
  left: 0px;
}

.rain .drops:nth-child(2) {
  -webkit-animation: rain 1s 600ms infinite normal both;
  -moz-animation: rain 1s 600ms infinite normal both;
  -ms-animation: rain 1s 600ms infinite normal both;
  left: 75px;
}

.rain .drops:nth-child(3) {
  -webkit-animation: rain 1s 900ms infinite normal both;
  -moz-animation: rain 1s 900ms infinite normal both;
  -ms-animation: rain 1s 900ms infinite normal both;
  left: 150px;
}

.rain .drops:nth-child(4) {
  -webkit-animation: rain 1s 1200ms infinite normal both;
  -moz-animation: rain 1s 1200ms infinite normal both;
  -ms-animation: rain 1s 1200ms infinite normal both;
  left: 225px;
}

.rain .drops:nth-child(5) {
  -webkit-animation: rain 1s 1500ms infinite normal both;
  -moz-animation: rain 1s 1500ms infinite normal both;
  -ms-animation: rain 1s 1500ms infinite normal both;
  left: 300px;
}

/****** HEAVY RAIN ******/

.heavy {
  width: 6px;
  height: 75px;
  background-color: #8FB0B5;
}

.rain .heavy:first-child {
  -webkit-animation: rain .25s 300ms infinite normal both;
  -moz-animation: rain .25s 300ms infinite normal both;
  -ms-animation: rain .25s 300ms infinite normal both;
  left: 0px;
}

.rain .heavy:nth-child(2) {
  -webkit-animation: rain .25s 600ms infinite normal both;
  -moz-animation: rain .25s 600ms infinite normal both;
  -ms-animation: rain .25s 600ms infinite normal both;
  left: 75px;
}

.rain .heavy:nth-child(3) {
  -webkit-animation: rain .25s 900ms infinite normal both;
  -moz-animation: rain .25s 900ms infinite normal both;
  -ms-animation: rain .25s 900ms infinite normal both;
  left: 150px;
}

.rain .heavy:nth-child(4) {
  -webkit-animation: rain .25s 1200ms infinite normal both;
  -moz-animation: rain .25s 1200ms infinite normal both;
  -ms-animation: rain .25s 1200ms infinite normal both;
  left: 225px;
}

.rain .heavy:nth-child(5) {
  -webkit-animation: rain .25s 1500ms infinite normal both;
  -moz-animation: rain .25s 1500ms infinite normal both;
  -ms-animation: rain .25s 1500ms infinite normal both;
  left: 300px;
}

@-webkit-keyframes rain {
  10% {
    opacity: 1;
  }
  90% {
    -webkit-transform: translateY(250px);
    -moz-transform: translateY(250px);
    -ms-transform: translateY(250px);
  }
}

/*** LIGHTNING BOLTS ***/

.bolts {
  opacity: 0;
}

.bolts:first-child {
  -webkit-animation: flash 2s 300ms infinite normal both;
  -moz-animation: flash 2s 300ms infinite normal both;
  -ms-animation: flash 2s 300ms infinite normal both;
}

.bolts:nth-child(2) {
  -webkit-animation: flash 1.5s 800ms infinite normal both;
  -moz-animation: flash 1.5s 800ms infinite normal both;
  -ms-animation: flash 1.5s 800ms infinite normal both;
}

@-webkit-keyframes flash {
  10% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*** EARS ANIMATION ***/

#clear-night :nth-child(3),
#few-clouds-night .ears:nth-last-of-type(2) {
  -webkit-animation: ears 2s 300ms infinite normal both;
  -moz-animation: ears 2s 300ms infinite normal both;
  -ms-animation: ears 2s 300ms infinite normal both;
  transform-origin: 0% 100%;
}

#clear-night :last-child,
#few-clouds-night .ears:last-child {
  -webkit-animation: ears-opp 2s 300ms infinite normal both;
  -moz-animation: ears-opp 2s 300ms infinite normal both;
  -ms-animation: ears-opp 2s 300ms infinite normal both;
  transform-origin: 0% 100%;
}

@-webkit-keyframes ears {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes ears-opp {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

div.svg-container {
  text-align: center;
}

.st0{
  fill:#E9FDFF;
}
.st1{
  fill:none;
  stroke:#F48A21;
  stroke-width:9;
  stroke-linecap:round;
  stroke-miterlimit:10;
}

.st2{
  fill:none;
  stroke:#738B91;
  stroke-width:9;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
  stroke-dasharray:36,36;
}

.st3{
  fill:#8FB0B5;
}

.st4{
  fill:#F48A21;
}

.st5{
  fill:none;
  stroke:#F48A21;
  stroke-width:9;
  stroke-linecap:round;
  stroke-miterlimit:10;
}

.st6{
  fill:#999999;
}

.st7{
  fill:#FCFABE;
}

.st8{
  fill:#FFFFFF;
}

.st9{
  fill:none;
  stroke:#A2C8CC;
  stroke-width:9;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
  stroke-dasharray:36,36;
}

.st10{
  fill:#738B91;
}
.st11{
  fill:#A2C8CC;
}

.st12{
  fill:#022078;
}
